Repository openebs/openebs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, codespell-md

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit.
  entry: nix-shell --pure --run './scripts/rust/linter.sh clippy'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit.
  entry: nix-shell --pure --run './scripts/rust/linter.sh fmt'
  pass_filenames: false
  language: system

codespell-md:
  name: Codespell Markdown
  description: Runs codespell against the md files.
  language: system
  entry: nix-shell --pure --run "git ls-files '*.md' | xargs codespell --ignore-words '.codespell-ignores.txt'"
  pass_filenames: false

oep(4011): Add design discussion
  designs/replicated-pv/mayastor/raid0.md
Due: codespell-md

Publish openebs-4.4.0-prerelease.tgz
  index.yaml
  openebs-4.4.0-prerelease.tgz
Due: none

Publish openebs-4.5.1-prerelease.tgz
  index.yaml
  openebs-4.5.1-prerelease.tgz
Due: none

:tada: Add RawFile localpv integration with kubectl plugin
  Cargo.lock
  plugin/Cargo.toml
  plugin/README.md
  plugin/src/cli_utils/localpv/mod.rs
  plugin/src/cli_utils/localpv/rawfile/api.rs
  plugin/src/cli_utils/localpv/rawfile/mod.rs
  plugin/src/cli_utils/localpv/rawfile/node/mod.rs
  plugin/src/cli_utils/localpv/rawfile/node/types.rs
  plugin/src/cli_utils/localpv/rawfile/task/mod.rs
  plugin/src/cli_utils/localpv/rawfile/task/types.rs
  plugin/src/cli_utils/localpv/rawfile/volume/mod.rs
  plugin/src/cli_utils/localpv/rawfile/volume/types.rs
  plugin/src/cli_utils/mod.rs
  plugin/src/main.rs
Due: rust-lint, rust-style, codespell-md

chore(ci): update helm chart versions and/or git submodules
  charts/Chart.yaml
  charts/README.md
  charts/charts/openebs-crds/Chart.yaml
  charts/images.txt
Due: codespell-md

chore: update git submodules
  .gitmodules
Due: none

feat(helm): install snapshot-controller outside each engine
  charts/README.md
  charts/templates/snapshot-controller.yaml
  charts/values.yaml
Due: codespell-md

Publish openebs-4.6.0-prerelease.tgz
  index.yaml
  openebs-4.6.0-prerelease.tgz
Due: none

oep(4279): add oep for completing the mayastor lvm pool backend
  designs/replicated-pv/mayastor/lvm-backend-completion.md
Due: codespell-md

Publish openebs-4.6.0.tgz
  index.yaml
  openebs-4.6.0.tgz
Due: none

build: use static CDN for crates
  nix/pkgs/openebs/cargo-project.nix
Due: none

oep(4268): select the pool by the scheduling algorithm
  designs/local-pv/zfs/poolpattern.md
Due: codespell-md

ci(stability): updated Chart.yaml with latest incremental chart version
  charts/Chart.yaml
Due: none

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$
  codespell-md: any of: \.(md|markdown|mdown)$
