Repository openebs/openebs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, codespell-md

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit.
        entry: nix-shell --pure --run './scripts/rust/linter.sh clippy'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit.
        entry: nix-shell --pure --run './scripts/rust/linter.sh fmt'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | grep -v '^#' | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: codespell
        name: Codespell Commit Message
        description: Runs codespell against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | grep -v '^#' | codespell --ignore-words '.codespell-ignores.txt' -"'
        args: [$1]
        stages: [commit-msg]
    -   id: codespell-md
        name: Codespell Markdown
        description: Runs codespell against the md files.
        language: system
        entry: nix-shell --pure --run "git ls-files '*.md' | xargs codespell --ignore-words '.codespell-ignores.txt'"
        types: [markdown]
        pass_filenames: false

build: use static CDN for crates
  nix/pkgs/openebs/cargo-project.nix
Due: none

Publish openebs-4.5.1-prerelease.tgz
  index.yaml
  openebs-4.5.1-prerelease.tgz
Due: none

build: upgrade to rust 1.97.1
  Cargo.lock
  Cargo.toml
  nix/pkgs/openebs/cargo-project.nix
  nix/pkgs/utils/default.nix
  nix/sources.json
  plugin/Cargo.toml
  plugin/src/cli_utils/upgrade/k8s/resources.rs
  plugin/src/cli_utils/upgrade/mod.rs
  shell.nix
Due: rust-lint, rust-style

Publish openebs-4.6.0-prerelease.tgz
  index.yaml
  openebs-4.6.0-prerelease.tgz
Due: none

Publish openebs-4.6.0-develop.tgz
  index.yaml
  openebs-4.6.0-develop.tgz
Due: none

chore(ci): update helm chart versions and/or git submodules
  charts/Chart.yaml
  charts/README.md
  charts/charts/openebs-crds/Chart.yaml
  charts/images.txt
Due: codespell-md

fix: follow naming conventions
  charts/templates/snapshot-controller.yaml
Due: none

build: stop re-enabling kube default features in openebs-upgrade
  Cargo.lock
  openebs-upgrade/Cargo.toml
Due: none

docs(README): add latest release badge for rawfile-localpv
  README.md
Due: codespell-md

docs(oep): update SMART health OEP from GetPoolHealth to ListPoolHealth
  designs/replicated-pv/mayastor/smart-health.md
Due: codespell-md

Publish openebs-4.6.1.tgz
  index.yaml
  openebs-4.6.1.tgz
Due: none

chore(ci): update git submodules
  charts/Chart.yaml
  charts/images.txt
Due: none

ci(stability): updated Chart.yaml with latest incremental chart version
  charts/Chart.yaml
Due: none

fix: add openebs upgrade-job image to the chart metadata
  .github/workflows/release.yml
  .github/workflows/staging.yml
  charts/Chart.yaml
  charts/images.txt
  scripts/helm/images.sh
Due: none

Publish openebs-4.7.0-develop.tgz
  index.yaml
  openebs-4.7.0-develop.tgz
Due: none

ci(image): build multi-arch images and attest the SBOMs
  .github/workflows/images.yml
  .github/workflows/release-binaries.yml
  .github/workflows/staging.yml
  .gitignore
  scripts/staging/mirror-images.sh
  scripts/staging/shell.nix
  scripts/staging/validate.sh
Due: none

ci(sbom): collect and verify the SBOMs of a chart release
  .github/workflows/release.yml
  .github/workflows/staging.yml
  .gitignore
Due: none

ci: build darwin on the newer runners
  .github/workflows/release-binaries.yml
Due: none

Publish openebs-4.6.2-prerelease.tgz
  index.yaml
  openebs-4.6.2-prerelease.tgz
Due: none

fix(plugin): deserialize LVM volume errors
  plugin/src/cli_utils/localpv/lvm/volume/types.rs
Due: rust-lint, rust-style
