Repository openebs/openebs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, codespell-md

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit.
        entry: nix-shell --pure --run './scripts/rust/linter.sh clippy'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit.
        entry: nix-shell --pure --run './scripts/rust/linter.sh fmt'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | grep -v '^#' | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: codespell
        name: Codespell Commit Message
        description: Runs codespell against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | grep -v '^#' | codespell --ignore-words '.codespell-ignores.txt' -"'
        args: [$1]
        stages: [commit-msg]
    -   id: codespell-md
        name: Codespell Markdown
        description: Runs codespell against the md files.
        language: system
        entry: nix-shell --pure --run "git ls-files '*.md' | xargs codespell --ignore-words '.codespell-ignores.txt'"
        types: [markdown]
        pass_filenames: false

build: update mayastor git module
  .gitmodules
Due: none

Publish openebs-4.4.0-prerelease.tgz
  index.yaml
  openebs-4.4.0-prerelease.tgz
Due: none

feat(plugin): add option to input upgrade-job image repo-namespace
  plugin/src/cli_utils/upgrade/cli.rs
  plugin/src/cli_utils/upgrade/mod.rs
Due: rust-lint, rust-style

chore: remove unused const for docker image registry
  plugin/src/constants.rs
Due: rust-lint, rust-style

chore: bump mayastor dependency chart to 2.11.0-rc.1
  charts/Chart.yaml
  charts/README.md
  charts/images.txt
Due: codespell-md

chore: bump mayastor git submodule for release/4.5
  .gitmodules
Due: none

Publish openebs-4.5.0-develop.tgz
  index.yaml
  openebs-4.5.0-develop.tgz
Due: none

ci: support git modules with a tag
  scripts/git/set-submodule-branches.sh
Due: none

chore(deps): update mayastor submodule and mayastor chart dependency
  .gitmodules
  charts/Chart.yaml
  charts/README.md
  charts/images.txt
Due: codespell-md

ci(stability): updated Chart.yaml with latest incremental chart version
  charts/Chart.yaml
Due: none

Publish openebs-4.5.0.tgz
  index.yaml
  openebs-4.5.0.tgz
Due: none

ci: add checkout to the krew publish workflow
  .github/workflows/publish-to-krew-index.yml
Due: none

Publish openebs-4.5.0-prerelease.tgz
  index.yaml
  openebs-4.5.0-prerelease.tgz
Due: none

chore(ci): update helm chart versions and/or git submodules
  charts/Chart.yaml
  charts/README.md
  charts/charts/openebs-crds/Chart.yaml
  charts/images.txt
Due: codespell-md

oep(4074): add initial oep for mayastor trim/unmap support
  designs/replicated-pv/mayastor/unmap.md
Due: codespell-md

Publish openebs-4.5.1-prerelease.tgz
  index.yaml
  openebs-4.5.1-prerelease.tgz
Due: none

chore(ci): update helm chart versions and/or git submodules
  .gitmodules
  charts/Chart.yaml
  charts/README.md
  charts/images.txt
Due: codespell-md
