Repository openebs/openebs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, codespell-md

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit.
        entry: nix-shell --pure --run './scripts/rust/linter.sh clippy'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit.
        entry: nix-shell --pure --run './scripts/rust/linter.sh fmt'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | grep -v '^#' | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: codespell
        name: Codespell Commit Message
        description: Runs codespell against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | grep -v '^#' | codespell --ignore-words '.codespell-ignores.txt' -"'
        args: [$1]
        stages: [commit-msg]
    -   id: codespell-md
        name: Codespell Markdown
        description: Runs codespell against the md files.
        language: system
        entry: nix-shell --pure --run "git ls-files '*.md' | xargs codespell --ignore-words '.codespell-ignores.txt'"
        types: [markdown]
        pass_filenames: false

chore: pin submodules to release/2.8
  .gitmodules
Due: none

Update index.yaml
  index.yaml
Due: none

ci: disable man-pages update
  .github/workflows/chart-images.yml
Due: none

ci: disable man-pages update (#3865)
  .github/workflows/chart-images.yml
Due: none

docs: add README for openebs plugin
  Cargo.lock
  plugin/README.md
Due: codespell-md

docs: add README for openebs plugin (#3849)
  Cargo.lock
  plugin/README.md
Due: codespell-md

docs: update dependency versions in chart readme
  charts/README.md
Due: codespell-md

docs: update index.md
  index.md
Due: codespell-md

ci(stability): updated Chart.yaml with latest incremental chart version
  charts/Chart.yaml
Due: none

ci(plugin): release ci integration for openebs plugin
  .github/workflows/pr-build.yml
  .github/workflows/publish-release-artifacts.yml
  .github/workflows/release-binaries.yml
  .github/workflows/rust.yaml
  .gitignore
  .krew.yaml
  Cargo.lock
  nix/lib/rust.nix
  nix/lib/sourcer.nix
  nix/overlay.nix
  nix/pkgs/openebs/cargo-project.nix
  nix/pkgs/openebs/default.nix
  nix/pkgs/utils/default.nix
  plugin/Cargo.lock
  plugin/Cargo.toml
  shell.nix
Due: none

ci: disable usage metrics for CI test runs
  .github/workflows/chart-lint.yml
  ct.yaml
Due: none

fix(CODEOWNERS): remove @org-maintainers from default code ownership
  .github/CODEOWNERS
Due: none

chore(CODEOWNERS): add OEP owner
  .github/CODEOWNERS
Due: none

oep(3796): mark as complete
  designs/helm-charts/expose-container-images.md
  designs/oep-process.md
Due: codespell-md

ci(plugin): release ci integration for openebs plugin
  .github/workflows/chart-lint.yml
  .github/workflows/chart-release.yml
  .github/workflows/pr-build.yml
  .github/workflows/pr.yml
  .github/workflows/publish-release-artifacts.yml
  .github/workflows/release-binaries.yml
  .github/workflows/rust.yaml
  .krew.yaml
  Cargo.lock
  nix/lib/rust.nix
  nix/lib/sourcer.nix
  nix/overlay.nix
  nix/pkgs/openebs/cargo-project.nix
  nix/pkgs/openebs/default.nix
  nix/pkgs/utils/default.nix
  plugin/Cargo.lock
  plugin/Cargo.toml
  shell.nix
Due: none

chore: remove cowsay from nix shell
  shell.nix
Due: none

refactor(plugin): rename flag kube-config-path to kubeconfig
  plugin/src/cli_utils/localpv/hostpath/mod.rs
  plugin/src/cli_utils/localpv/lvm/mod.rs
  plugin/src/cli_utils/localpv/zfs/mod.rs
  plugin/src/main.rs
Due: rust-lint, rust-style

add podLabels to pre upgrade hook job
  charts/templates/pre-upgrade-hook.yaml
  charts/values.yaml
Due: none

chore(ci): adding branch preparation workflow and scripts
  .github/workflows/release-workflow-dispatcher.yml
  .github/workflows/release.yml
  scripts/helm/test-update-chart-version.sh
  scripts/helm/update-chart-version.sh
  scripts/helm/validate-chart-version.sh
Due: none

fix(helm chart): Added tolerations statement to preUpgradeHook
  charts/templates/pre-upgrade-hook.yaml
Due: none

fix: implemented review comments
  .github/workflows/chart-images.yml
  .github/workflows/release-workflow-dispatcher.yml
  .github/workflows/release.yml
  scripts/helm/update-dependencies-version-upon-release.sh
Due: none

fix: permission of dependency update script
  scripts/helm/update-dependencies-version-upon-release.sh
Due: none

fix: typo in quotes
  .github/workflows/release-workflow-dispatcher.yml
Due: none

fix: indent
  scripts/helm/update-chart-version.sh
Due: none

fix: avoid broken pipe and extract just the digits from tags
  .github/workflows/release-workflow-dispatcher.yml
  scripts/helm/update-chart-version.sh
Due: none

fix: critical issues that were missed during PR creation due an update mistake
  .github/workflows/release-workflow-dispatcher.yml
  .github/workflows/release.yml
  scripts/helm/test-update-chart-version.sh
  scripts/helm/update-chart-version.sh
  scripts/helm/update-dependencies-version-upon-release.sh
  scripts/helm/validate-chart-version.sh
Due: none

fix: added steps for updating chart metadata along with other review comments updates
  .github/workflows/chart-images.yml
  .github/workflows/pr.yml
  .github/workflows/release-workflow-dispatcher.yml
Due: none

fix: added the steps to update chart metadata
  .github/workflows/chart-images.yml
  .github/workflows/release-workflow-dispatcher.yml
Due: none

fix: use ubuntu-latest-8-cores as we have added steps to update chart metadata
  .github/workflows/release-workflow-dispatcher.yml
Due: none

feat: add openebs_upgrade
  Cargo.lock
  Cargo.toml
  openebs_upgrade/Cargo.toml
  openebs_upgrade/src/bin/upgrade-job/cli_args.rs
  openebs_upgrade/src/bin/upgrade-job/main.rs
  openebs_upgrade/src/constants.rs
  openebs_upgrade/src/error.rs
  openebs_upgrade/src/helm.rs
  openebs_upgrade/src/helm/data_plane_upgrader.rs
  openebs_upgrade/src/helm/metadata.rs
  openebs_upgrade/src/helm/upgrade.rs
  openebs_upgrade/src/helm/upgrade/config.rs
  openebs_upgrade/src/helm/upgrade/upgrader.rs
  openebs_upgrade/src/lib.rs
  openebs_upgrade/src/utils.rs
Due: rust-lint, rust-style

chore(deps): update mayastor-extensions git submodule
  Cargo.lock
  Cargo.toml
  openebs-upgrade/Cargo.toml
  openebs-upgrade/src/bin/upgrade-job/cli_args.rs
  openebs-upgrade/src/bin/upgrade-job/main.rs
  openebs-upgrade/src/constants.rs
  openebs-upgrade/src/error.rs
  openebs-upgrade/src/helm.rs
  openebs-upgrade/src/helm/data_plane_upgrader.rs
  openebs-upgrade/src/helm/metadata.rs
  openebs-upgrade/src/helm/upgrade.rs
  openebs-upgrade/src/helm/upgrade/config.rs
  openebs-upgrade/src/helm/upgrade/upgrader.rs
  openebs-upgrade/src/helm/values.rs
  openebs-upgrade/src/kube.rs
  openebs-upgrade/src/lib.rs
  openebs-upgrade/src/utils.rs
  openebs_upgrade/src/constants.rs
Due: rust-lint, rust-style

fix: removed exit codes argument from script call
  .github/workflows/pr.yml
  .github/workflows/release-workflow-dispatcher.yml
  .github/workflows/release.yml
  scripts/helm/update-chart-version.sh
Due: none

chore(ci): Branch Preparation using workflow dispatch
  .github/workflows/branch-preparation.yml
  .github/workflows/release.yml
  scripts/helm/update-chart-version.sh
  scripts/helm/update-version-upon-release.sh
Due: none

chore(ci): update helm chart versions and/or git submodules
  charts/Chart.yaml
  charts/charts/openebs-crds/Chart.yaml
  charts/images.txt
Due: none

docs: change the 'Community Meeting' badge to point to central community section
  README.md
Due: codespell-md

docs: update community meeting links
  README.md
Due: codespell-md

chore: point submodules to develop
  .gitmodules
  Cargo.lock
Due: none
