Repository openebs/openebs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, codespell-md

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit.
  entry: nix-shell --pure --run './scripts/rust/linter.sh clippy'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit.
  entry: nix-shell --pure --run './scripts/rust/linter.sh fmt'
  pass_filenames: false
  language: system

codespell-md:
  name: Codespell Markdown
  description: Runs codespell against the md files.
  language: system
  entry: nix-shell --pure --run "git ls-files '*.md' | xargs codespell --ignore-words '.codespell-ignores.txt'"
  pass_filenames: false

ci: don't allow release if images or charts already exist
  .github/workflows/branch-preparation.yml
  .github/workflows/chart-release.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
  scripts/staging/validate.sh
Due: none

ci: add TMPDIR to gh chart releaser
  .github/workflows/chart-release.yml
  .github/workflows/release.yml
Due: none

chore(ci): update helm chart versions and/or git submodules
  charts/Chart.yaml
  charts/images.txt
Due: none

chore: update kubectl image repo
  charts/Chart.yaml
  charts/images.txt
  charts/values.yaml
Due: none

chore: update chart README.md
  charts/README.md
  charts/charts/openebs-crds/helm.md
Due: codespell-md

ci: don't docker login without the secrets
  .github/workflows/chart-images.yml
Due: none

oep(4012): Volume Attribute Classes to configure QoS
  designs/replicated-pv/mayastor/qos.md
Due: codespell-md

oep(4012): Mayastor Nexus QoS settings proposal
  designs/replicated-pv/mayastor/qos.md
Due: codespell-md

oep(4012): limits with units
  designs/replicated-pv/mayastor/qos.md
Due: codespell-md

fix(plugin/upgrade): remove unimplemented dry-run option
  plugin/src/cli_utils/upgrade/cli.rs
Due: rust-lint, rust-style

Apply suggestions from code review
  designs/replicated-pv/mayastor/raid0.md
Due: codespell-md

oep(4011): proposal diskpool raid0 support
  designs/replicated-pv/mayastor/raid0.md
Due: codespell-md

ci: fix image.sh to detect container image exclusive to upgrade
  scripts/helm/images.sh
Due: none

fix(plugin/upgrade): remove unimplemented dry-run option (#4027)
  plugin/src/cli_utils/upgrade/cli.rs
Due: rust-lint, rust-style

[OEP 4071]: restore to a new volume from LVM thin snapshot
  designs/local-pv/lvm/snapshot-restore.md
Due: codespell-md

chore: set next prerelease version
  charts/Chart.yaml
  charts/README.md
  charts/charts/openebs-crds/Chart.yaml
Due: codespell-md

oep: format mayastor node status metrics doc
  designs/replicated-pv/mayastor/mayastor-node-status-metrics-via-metrics-exporter.md
Due: codespell-md

fix: handle empty string pagination continue token
  plugin/src/cli_utils/localpv/lvm/volume/mod.rs
  plugin/src/cli_utils/localpv/zfs/volume/mod.rs
Due: rust-lint, rust-style

Publish openebs-4.3.4-prerelease.tgz
  index.yaml
  openebs-4.3.4-prerelease.tgz
Due: none

Publish openebs-4.5.0-develop.tgz
  index.yaml
  openebs-4.5.0-develop.tgz
Due: none

Publish openebs-4.4.0-prerelease.tgz
  index.yaml
  openebs-4.4.0-prerelease.tgz
Due: none

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$
  codespell-md: any of: \.(md|markdown|mdown)$
