Repository openebs/openebs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, codespell-md

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit.
        entry: nix-shell --pure --run './scripts/rust/linter.sh clippy'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit.
        entry: nix-shell --pure --run './scripts/rust/linter.sh fmt'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | grep -v '^#' | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: codespell
        name: Codespell Commit Message
        description: Runs codespell against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | grep -v '^#' | codespell --ignore-words '.codespell-ignores.txt' -"'
        args: [$1]
        stages: [commit-msg]
    -   id: codespell-md
        name: Codespell Markdown
        description: Runs codespell against the md files.
        language: system
        entry: nix-shell --pure --run "git ls-files '*.md' | xargs codespell --ignore-words '.codespell-ignores.txt'"
        types: [markdown]
        pass_filenames: false

Publish openebs-4.6.2-prerelease.tgz
  index.yaml
  openebs-4.6.2-prerelease.tgz
Due: none

Publish openebs-4.5.1-prerelease.tgz
  index.yaml
  openebs-4.5.1-prerelease.tgz
Due: none

ci(stability): updated Chart.yaml with latest incremental chart version
  charts/Chart.yaml
Due: none

chore(ci): update git submodules
  Cargo.lock
  Cargo.toml
  nix/pkgs/openebs/cargo-project.nix
  openebs-upgrade/src/bin/upgrade-job/cli_args.rs
  openebs-upgrade/src/bin/upgrade-job/main.rs
  plugin/src/main.rs
  shell.nix
Due: rust-lint, rust-style

Publish openebs-4.7.0-develop.tgz
  index.yaml
  openebs-4.7.0-develop.tgz
Due: none

docs: update pool drain oep
  designs/replicated-pv/mayastor/pool-drain.md
Due: codespell-md

ci: temporarily disable loki
  scripts/helm/install.sh
Due: none

ci: add separate mergify queue for fork pull requests
  .github/mergify.yml
Due: none

docs(oep): asynchronous disaster recovery for mayastor
  designs/replicated-pv/mayastor/async-disaster-recovery.md
Due: codespell-md

oep(4279): mark as implementable
  designs/replicated-pv/mayastor/lvm-backend-completion.md
Due: codespell-md
