Repository openebs/openebs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, codespell-md

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit.
        entry: nix-shell --pure --run './scripts/rust/linter.sh clippy'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit.
        entry: nix-shell --pure --run './scripts/rust/linter.sh fmt'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | grep -v '^#' | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: codespell
        name: Codespell Commit Message
        description: Runs codespell against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | grep -v '^#' | codespell --ignore-words '.codespell-ignores.txt' -"'
        args: [$1]
        stages: [commit-msg]
    -   id: codespell-md
        name: Codespell Markdown
        description: Runs codespell against the md files.
        language: system
        entry: nix-shell --pure --run "git ls-files '*.md' | xargs codespell --ignore-words '.codespell-ignores.txt'"
        types: [markdown]
        pass_filenames: false

docs: correct RELEASE.md
  RELEASE.md
Due: codespell-md

docs: correct dev activity and signpost
  CODE_OF_CONDUCT.md
  GOVERNANCE.md
  MAINTAINERS.md
  README.md
Due: codespell-md

docs: refactor repo list
  designs/README.md
Due: codespell-md

feat: add openebs_upgrade
  Cargo.lock
  Cargo.toml
  openebs_upgrade/Cargo.toml
  openebs_upgrade/src/bin/upgrade-job/cli_args.rs
  openebs_upgrade/src/bin/upgrade-job/main.rs
  openebs_upgrade/src/constants.rs
  openebs_upgrade/src/error.rs
  openebs_upgrade/src/helm.rs
  openebs_upgrade/src/helm/data_plane_upgrader.rs
  openebs_upgrade/src/helm/metadata.rs
  openebs_upgrade/src/helm/upgrade.rs
  openebs_upgrade/src/helm/upgrade/config.rs
  openebs_upgrade/src/helm/upgrade/upgrader.rs
  openebs_upgrade/src/lib.rs
  openebs_upgrade/src/utils.rs
Due: rust-lint, rust-style

docs: add CNCF calendar link to Monthly Community Meeting Fixes https://github.com/openebs/openebs/issues/3816
  community/README.md
Due: codespell-md

chore: add CODEOWNERS
  .github/CODEOWNERS
Due: none

ci: disable usage metrics for CI test runs
  .github/workflows/chart-lint.yml
Due: none

fix: add Rest and grpc to implementation
  designs/tls/install-cert-manager.md
Due: codespell-md

docs: update ROADMAP.md with the current status and the tracking project link.
  ROADMAP.md
Due: codespell-md

fix: update ROADMAP.md with a typo fix
  ROADMAP.md
Due: codespell-md

fix: remove extra space
  ROADMAP.md
Due: codespell-md

fix: fix the hyperlink in ROADMAP.md
  ROADMAP.md
Due: codespell-md

docs: update ROADMAP.md with the current status and the tracking project link. (#3862)
  ROADMAP.md
Due: codespell-md

doc: update README.md on openebs/designs
  designs/README.md
Due: codespell-md

doc: update README.md on openebs/designs (#3864)
  designs/README.md
Due: codespell-md

ci(gha/rust): ensure Cargo.lock is up to date
  .github/workflows/chart-images.yml
  .github/workflows/rust.yaml
Due: none

ci(gha): add nix linter check
  .github/workflows/nix.yml
  .github/workflows/pr.yml
  .github/workflows/rust.yaml
Due: none

ci(gha/rust): skip rust build test
  .github/workflows/chart-lint.yml
  .github/workflows/pr.yml
  .github/workflows/rust.yaml
Due: none

[fix] Fix the YAML syntax
  charts/charts/openebs-crds/templates/csi-volume-snapshot-class.yaml
Due: none

[fix] Fix the YAML syntax
  charts/charts/openebs-crds/templates/csi-volume-snapshot-content.yaml
Due: none

[fix] Fix the YAML
  charts/charts/openebs-crds/templates/csi-volume-snapshot.yaml
Due: none

[fix] Use literal block style
  charts/charts/openebs-crds/templates/csi-volume-snapshot-class.yaml
  charts/charts/openebs-crds/templates/csi-volume-snapshot-content.yaml
  charts/charts/openebs-crds/templates/csi-volume-snapshot.yaml
Due: none

fix(helm-chart): fix invalid YAMLs in CRDs (#3830)
  charts/charts/openebs-crds/templates/csi-volume-snapshot-class.yaml
  charts/charts/openebs-crds/templates/csi-volume-snapshot-content.yaml
  charts/charts/openebs-crds/templates/csi-volume-snapshot.yaml
Due: none

chore: add CODEOWNERS file
  .github/CODEOWNERS
Due: none

chore: add CODEOWNERS file (#3861)
  .github/CODEOWNERS
Due: none

oep: at-rest encryption of data on diskpools
  designs/oep-template.md
  designs/replicated-pv/mayastor/encryption-at-rest.md
Due: codespell-md

oep: at-rest encryption of data on diskpools (#3840)
  designs/oep-template.md
  designs/replicated-pv/mayastor/encryption-at-rest.md
Due: codespell-md

chore: make Encryption OEP implementable
  designs/replicated-pv/mayastor/encryption-at-rest.md
Due: codespell-md

chore: make Encryption OEP implementable (#3867)
  designs/replicated-pv/mayastor/encryption-at-rest.md
Due: codespell-md

docs(README): sync community section to openebs/community
  README.md
Due: codespell-md

docs(README): sync community section to openebs/community (#3869)
  README.md
Due: codespell-md

build: add cargo workspace
  .github/workflows/rust.yaml
  Cargo.lock
  Cargo.toml
  scripts/rust/builder.sh
Due: none

build: add cargo workspace (#3868)
  .github/workflows/rust.yaml
  Cargo.lock
  Cargo.toml
  scripts/rust/builder.sh
Due: none

feat(helm chart): bump dependent versions for chart 4_2
  charts/Chart.yaml
  charts/charts/openebs-crds/Chart.yaml
  charts/images.txt
  charts/values.yaml
Due: none

chore: pin submodules to release/2.8
  .gitmodules
Due: none

chore: update cargo lock
  Cargo.lock
  plugin/Cargo.lock
Due: none
