Repository openebs/openebs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, codespell-md

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit.
  entry: nix-shell --pure --run './scripts/rust/linter.sh clippy'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit.
  entry: nix-shell --pure --run './scripts/rust/linter.sh fmt'
  pass_filenames: false
  language: system

codespell-md:
  name: Codespell Markdown
  description: Runs codespell against the md files.
  language: system
  entry: nix-shell --pure --run "git ls-files '*.md' | xargs codespell --ignore-words '.codespell-ignores.txt'"
  pass_filenames: false

ci: build binaries correctly
  .github/workflows/release-binaries.yml
Due: none

fix(upgrade): decide is mayastor is enabled based on config and values (#3967)
  plugin/src/cli_utils/upgrade/helm_values.rs
Due: rust-lint, rust-style

fix(helm): add imagePullSecrets to pre-upgrade hook (#3892)
  charts/templates/pre-upgrade-hook.yaml
  charts/values.yaml
Due: none

Fix tolerations templating + add blank
  charts/templates/pre-upgrade-hook.yaml
Due: none

chore(ci): update helm chart versions and/or git submodules
  charts/Chart.yaml
  charts/charts/openebs-crds/Chart.yaml
  charts/images.txt
Due: none

docs: update the README
  charts/README.md
Due: codespell-md

fix: normalize release name for alloy
  charts/values.yaml
Due: none

chore(ci): update helm chart versions and/or git submodules
  charts/Chart.yaml
  charts/charts/openebs-crds/Chart.yaml
Due: none

docs: update chart README and mayastor version
  charts/Chart.yaml
  charts/README.md
  charts/charts/openebs-crds/helm.md
Due: codespell-md

chore: update the helm images annotations
  charts/Chart.yaml
  charts/images.txt
Due: none

docs(oep): update pool-cordon
  designs/replicated-pv/mayastor/pool-cordon.md
Due: codespell-md

Fix: Minor typo in README
  README.md
  designs/replicated-pv/mayastor/pool-cordon.md
Due: codespell-md

docs(readme): update community meeting section
  README.md
Due: codespell-md

chore: :heavy_plus_sign: Add rawfile-localpv helm chart
  .envrc
  .github/workflows/chart-images.yml
  charts/Chart.yaml
  charts/images.txt
  charts/values.yaml
  scripts/helm/install.sh
Due: none

chore(deps): update mayastor upgrade lib
  Cargo.lock
  openebs-upgrade/src/helm/values.rs
Due: rust-lint, rust-style

refactor: hardcode the name of the pre-upgrade hook
  charts/templates/pre-upgrade-hook.yaml
Due: none

ci: add staging ci and modify release ci
  .github/workflows/images.yml
  .github/workflows/nix.yml
  .github/workflows/publish-release-artifacts.yml
  .github/workflows/publish-to-krew-index.yml
  .github/workflows/release-binaries.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
  .gitignore
  scripts/release.sh
  scripts/staging/kubectl-oci.sh
  scripts/staging/mirror-images.sh
  scripts/staging/shell.nix
  shell.nix
Due: none

feat(chart): enable preUpgradeHook only for upgrades from v3 to v4
  charts/Chart.yaml
  charts/README.md
  charts/images.txt
  charts/templates/_helpers.tpl
  charts/templates/pre-upgrade-hook.yaml
  charts/values.yaml
Due: codespell-md

ci: add checks for rejecting release on actual versions
  .github/workflows/branch-preparation.yml
  .github/workflows/chart-release.yml
Due: none

ci: inherit secrets on submodule chart workflow
  .github/workflows/mod-update.yml
Due: none

chore(deps): use kubectl from bitnamilegacy instead of bitnami
  charts/Chart.yaml
  charts/images.txt
  charts/values.yaml
Due: none

fix: staging shell, script and change namespaces
  .github/workflows/release.yml
  .github/workflows/staging.yml
  scripts/staging/mirror-images.sh
  scripts/staging/shell.nix
Due: none

fix(chart/tpl): exit early if there is no hostpath provisioner
  charts/templates/_helpers.tpl
Due: none

fix: mirror-images script to use PARENT_ROOT_DIR
  scripts/staging/mirror-images.sh
Due: none

fix(upgrade): make older openebs v3 value mayastor.enabled optional
  plugin/src/cli_utils/upgrade/helm_values.rs
Due: rust-lint, rust-style

build: upgrade rust env dependencies
  clippy.toml
  commitlint.config.js
  nix/sources.json
  plugin/src/cli_utils/localpv/lvm/volume/mod.rs
  plugin/src/cli_utils/localpv/zfs/volume/mod.rs
  plugin/src/cli_utils/supportability/dump.rs
  plugin/src/main.rs
  shell.nix
Due: rust-lint, rust-style

build: use new rust platform api
  nix/pkgs/openebs/cargo-project.nix
Due: none

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$
  codespell-md: any of: \.(md|markdown|mdown)$
