Repository openebs/openebs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, codespell-md

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit.
  entry: nix-shell --pure --run './scripts/rust/linter.sh clippy'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit.
  entry: nix-shell --pure --run './scripts/rust/linter.sh fmt'
  pass_filenames: false
  language: system

codespell-md:
  name: Codespell Markdown
  description: Runs codespell against the md files.
  language: system
  entry: nix-shell --pure --run "git ls-files '*.md' | xargs codespell --ignore-words '.codespell-ignores.txt'"
  pass_filenames: false

Publish openebs-4.5.1-prerelease.tgz
  index.yaml
  openebs-4.5.1-prerelease.tgz
Due: none

Publish openebs-4.5.1.tgz
  index.yaml
  openebs-4.5.1.tgz
Due: none

Publish openebs-4.4.0-prerelease.tgz
  index.yaml
  openebs-4.4.0-prerelease.tgz
Due: none

Publish openebs-4.6.0-develop.tgz
  index.yaml
  openebs-4.6.0-develop.tgz
Due: none

fix(upgrade): detect existing LVM CRDs during v3 to v4 upgrades
  openebs-upgrade/src/helm/values.rs
Due: rust-lint, rust-style

fix: honor explicit submodule branch selection
  scripts/git/set-submodule-branches.sh
Due: none

ci: upgrade all action versions
  .github/workflows/branch-preparation.yml
  .github/workflows/chart-images.yml
  .github/workflows/chart-lint.yml
  .github/workflows/chart-release.yml
  .github/workflows/fossa.yml
  .github/workflows/helm-testing-chart.yml
  .github/workflows/images.yml
  .github/workflows/mod-update.yml
  .github/workflows/nix.yml
  .github/workflows/pr-submodule-branch.yml
  .github/workflows/pr.yml
  .github/workflows/publish-to-krew-index.yml
  .github/workflows/release-binaries.yml
  .github/workflows/release.yml
  .github/workflows/rust.yaml
  .github/workflows/staging.yml
  .github/workflows/stale.yml
  .github/workflows/trivy-ci.yml
Due: none

docs: document recursive submodule setup for local development
  CONTRIBUTING.md
  README.md
Due: codespell-md

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$
  codespell-md: any of: \.(md|markdown|mdown)$
