Repository openebs/openebs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, codespell-md

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit.
  entry: nix-shell --pure --run './scripts/rust/linter.sh clippy'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit.
  entry: nix-shell --pure --run './scripts/rust/linter.sh fmt'
  pass_filenames: false
  language: system

codespell-md:
  name: Codespell Markdown
  description: Runs codespell against the md files.
  language: system
  entry: nix-shell --pure --run "git ls-files '*.md' | xargs codespell --ignore-words '.codespell-ignores.txt'"
  pass_filenames: false

chore: fix static plugin build
  nix/pkgs/openebs/cargo-project.nix
Due: none

chore(ci): publish chart on gh pages and submodule branch check
  .github/workflows/chart-release.yml
  .github/workflows/pr-submodule-branch.yml
  scripts/git/check-submodule-branches.sh
  scripts/git/set-submodule-branches.sh
Due: none

fix: set mayastor submodule to the branch from chart version
  .github/workflows/pr-submodule-branch.yml
  scripts/git/set-submodule-branches.sh
Due: none

fix: block publish if version is develop
  .github/workflows/chart-release.yml
  .github/workflows/pr-submodule-branch.yml
  .github/workflows/release.yml
Due: none

fix: use var and skip publish is version is develop prerelease
  .github/workflows/chart-release.yml
  .github/workflows/pr-submodule-branch.yml
Due: none

chore: update mayastor submodule dep
  Cargo.lock
Due: none

chore: add loki and alloy to umbrella chart
  charts/Chart.yaml
  charts/images.txt
  charts/templates/loki-storage/storage/localpv-loki.yaml
  charts/templates/loki-storage/storage/localpv-minio.yaml
  charts/templates/loki-storage/storage/localpv-storageclass.yaml
  charts/values.yaml
Due: none

chore: document external s3 as minio replacement
  charts/README.md
  charts/loki-storage.md
  charts/templates/loki-storage/storage/localpv-storageclass.yaml
  charts/values.yaml
Due: codespell-md

chore: add loki args to install script
  scripts/helm/install.sh
Due: none

chore: remove PV templates, increase max labels
  charts/.helmignore
  charts/loki-storage.md
  charts/templates/loki-storage/storage/localpv-loki.yaml
  charts/templates/loki-storage/storage/localpv-minio.yaml
  charts/values.yaml
Due: codespell-md

chore(ci): add an extra check for release branch before blocking publish
  .github/workflows/chart-release.yml
Due: none

chore: add app loki labels to service and pods
  charts/Chart.yaml
  charts/images.txt
  charts/values.yaml
Due: none

chore(ci): add workflow to push upgrade image to dockerhub
  .github/workflows/images.yml
Due: none

fix: use the actual tag on tag push
  .github/workflows/images.yml
Due: none

fix: remove callhome enabled false
  charts/values.yaml
Due: none

feat(supportability): add system dump operation to plugin
  Cargo.lock
  plugin/Cargo.toml
  plugin/src/cli_utils/localpv/lvm/mod.rs
  plugin/src/cli_utils/localpv/lvm/node/mod.rs
  plugin/src/cli_utils/localpv/lvm/supportability.rs
  plugin/src/cli_utils/localpv/lvm/volume/mod.rs
  plugin/src/cli_utils/localpv/zfs/mod.rs
  plugin/src/cli_utils/localpv/zfs/node/mod.rs
  plugin/src/cli_utils/localpv/zfs/supportability.rs
  plugin/src/cli_utils/localpv/zfs/volume/mod.rs
  plugin/src/cli_utils/mod.rs
  plugin/src/cli_utils/supportability/cli.rs
  plugin/src/cli_utils/supportability/dump.rs
  plugin/src/cli_utils/supportability/mod.rs
  plugin/src/main.rs
Due: rust-lint, rust-style

chore: update chart with latest
  charts/Chart.yaml
  charts/images.txt
  plugin/src/cli_utils/localpv/lvm/supportability.rs
  plugin/src/cli_utils/localpv/zfs/supportability.rs
  plugin/src/cli_utils/supportability/mod.rs
Due: rust-lint, rust-style

chore(ci): fix for skip publish of tag images
  .github/workflows/images.yml
Due: none

ci: use cachix instead of determinate systems
  .github/workflows/branch-preparation.yml
  .github/workflows/chart-images.yml
  .github/workflows/images.yml
  .github/workflows/nix.yml
  .github/workflows/pr-submodule-branch.yml
  .github/workflows/pr.yml
  .github/workflows/release-binaries.yml
  .github/workflows/release.yml
  .github/workflows/rust.yaml
Due: none

fix: ignore 404 errors is crds not present
  plugin/src/cli_utils/localpv/lvm/supportability.rs
  plugin/src/cli_utils/localpv/zfs/supportability.rs
  plugin/src/cli_utils/supportability/dump.rs
Due: rust-lint, rust-style

chore: mayastor submodule should track helm chart
  scripts/git/set-submodule-branches.sh
Due: none

chore(ci): update helm chart versions and/or git submodules
  charts/Chart.yaml
  charts/charts/openebs-crds/Chart.yaml
  charts/images.txt
Due: none

chore(ci): fixes for upgrade job, publish-charts and mktemp issue
  .github/workflows/images.yml
  .github/workflows/release.yml
  scripts/helm/update-version-upon-release.sh
Due: none

ci: remove ./shell.nix from script execution step
  .github/workflows/images.yml
Due: none

chore(ci): fixes for upgrade job, publish-charts and mktemp issue (#3947)
  .github/workflows/images.yml
  .github/workflows/release.yml
  scripts/helm/update-version-upon-release.sh
Due: none

Update github runners to oci gh arc runners
  .github/workflows/branch-preparation.yml
  .github/workflows/chart-images.yml
  .github/workflows/release-binaries.yml
Due: none

Change gh runners with Oracle VMs
  .github/workflows/branch-preparation.yml
  .github/workflows/chart-images.yml
  .github/workflows/release-binaries.yml
Due: none

ci(plugin): include tag while building plugin
  .github/workflows/release-binaries.yml
Due: none

feat(helm chart): update the values snippet for loki filesystem storage
  charts/loki-storage.md
Due: codespell-md

ci: build binaries correctly
  .github/workflows/release-binaries.yml
Due: none

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$
  codespell-md: any of: \.(md|markdown|mdown)$
